<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href="/bower_components/materialize/dist/css/materialize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/kurento.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/custom.css" rel="stylesheet">

    <script src="/socket.io/socket.io.js"></script>
    <script src="/bower_components/adapter.js/adapter.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/materialize/dist/js/materialize.min.js"></script>
    <script src="/bower_components/kurento-utils/js/kurento-utils.js"></script>
    <script src="/js/presentador.js"></script>
    <title>ProyectoZ</title>
</head>
<body>
    <div class="container">
        <%if (todavia) { %>
        <p>Falta tiempo para iniciar la tutoria</p>
        <%}
        else{ %>
        <div class="row">
            <div class="col-md-6">
                <h3 id="presenter-id"></h3>
                <div id="video-div-presentador" class="row">
                    <video id="video" width="400px" height="285px" autoplay></video>
                </div>
                <div class="row">
                    <ul class="collapsible" data-collapsible="accordion">
                        <% evaluaciones.forEach(function(eval) { %>
                        <li>
                            <div class="collapsible-header truncate">
                                <i class="material-icons left">question_answer</i><%= eval.encabezado %>
                            </div>
                            <div class="collapsible-body">
                                <p><%= eval.encabezado %></p>
                                <p>
                                    <a href="#"
                                       class="btn waves-effect waves-light btn_lanzar_pregunta"
                                       sesion="<%= sesion %>"
                                       evaluacion="<%= eval.id %>"
                                    >
                                        Lanzar Pregunta<i class="material-icons right">send</i>
                                    </a>
                                </p>
                            </div>
                        </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1 texto-centrado right-side">
                <hr/>
                <div class="row">
                    <div class="col-md-12 texto-centrado">
                        <div class="panel panel-default chatbox">
                            <div class="panel-body">
                                <div class="row" >
                                    <div class="col-md-9">
                                        <input id="m">
                                    </div>
                                    <div class="col-md-3">
                                        <a id="btn" href="#" class="btn btn-success btn-block">Enviar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 texto-centrado">
                        <div id="mensajes" class="panel panel-default chatbox" style="height: 400px; overflow: auto">
                            <div class="panel-body">
                                <ul id="messages"></ul>
                            </div>
                        </div>
                    </div>
                    <input id="sesion-id" type="hidden" value=<%= sesion %>>
                    <input id="nombre" type="hidden" value="<%= nombre %>">
                    <input id="email" type="hidden" value=<%= email %>>

                </div>
            </div>
        </div>
    </div>
    <% }%>
</body>
</html>
