<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/bower_components/materialize/dist/css/materialize.min.css">
    <meta charset="UTF-8">
    <title>ProyectoZ</title>
</head>
<body>
<% include nav.ejs %>
<div class="container">
    <div class="row">
        <div class="col s12">
            <h3>Mis sesiones</h3>
            <% sesiones.forEach(function(sesion) { %>
            <%
                var titulo = sesion.Tutor.Usuario.nombre+" "+sesion.Tutor.Usuario.apellido+", "+sesion.Tutor.Usuario.email;

                var fecha_sin_timezone = moment(sesion.fecha).format('YYYY-MM-DD');
                var momento_mostrado = moment(fecha_sin_timezone+' '+sesion.hora_inicio+'.001-04');

                var color = sesion.estado == 'futura' ? 'teal accent-4' : 'green darken-1';
            %>
            <div class="card <%= color %>">
                <div class="card-content white-text">
                <span class="card-title">
                    <b><%= titulo %></b>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <% if(sesion.estado === 'en-proceso') { %>
                    <a href="/sesion/<%= sesion.id %>">
                        <div class="chip white">
                            <b>Ir a sesion</b>
                        </div>
                    </a>
                    <% } else { %>
                    <a href="/sesion/<%= sesion.id %>">
                        <div class="chip white">
                            <b>Empezar sesion</b>
                        </div>
                    </a>
                    <a href="/sesion/crear_evaluacion/<%= sesion.id %>/">
                        <div class="chip red lighten-2">
                            <b>Crear evaluacion</b>
                        </div>
                    </a>
                    <a href="/workspace?sesion=<%= sesion.id %>">
                        <div class="chip lime accent-1">
                            <b>Workspace</b>
                        </div>
                    </a>
                    <% }; %>
                </span>
                <%
                    var texto = "";

                    if(sesion.estado === 'futura') {
                        texto = "Sera impartida";
                    }
                    else {
                        texto = "Esta siendo impartida desde";
                    }
                %>
                <p><%= texto %> <%= momento_mostrado.fromNow() %></p>
                </div>
                <div class="card-action">
                    <% sesion.Solicitud.Keywords.forEach(function(keyword) { %>
                    <a href="/sesion/tag/<%= keyword.id %>" class="chip black-text"><%= keyword.texto %></a>
                    <% }); %>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</div>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/materialize/dist/js/materialize.min.js">
</script>
</body>
</html>