<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/bower_components/materialize/dist/css/materialize.min.css" rel="stylesheet">
    <link href="/bower_components/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/kurento.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/custom.css" rel="stylesheet">

    <script src="/socket.io/socket.io.js"></script>
    <script src="/bower_components/adapter.js/adapter.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="/bower_components/materialize/dist/js/materialize.min.js"></script>
    <script src="/bower_components/kurento-utils/js/kurento-utils.js"></script>
    <% if(!todavia) { %>
    <script src="/js/presentador.js"></script>
    <script src="/js/presentador_ui.js"></script>
    <title>ProyectoZ</title>
    <% } %>
</head>
<body>
    <% include nav.ejs %>
    <% if (todavia) { %>
    <div id="body" class="row">
        <p>Falta tiempo para iniciar la tutoria</p>
    </div>
    <% } else { %>
    <div id="body">
        <div class="row">
            <!-- col s4 : hide -->
            <div id="div_preguntas" class="col s4">
                <div class="row">
                    <div id="video-div-presentador">
                        <video id="video" autoplay poster="/img/webrtc.png"></video>
                    </div>
                </div>

                <div class="row card-panel">
                    <div class="row">
                        <a id="cerrar_tutoria_btn" class="btn red darken-4" href="/sesion/cerrar/<%= sesion %>/">
                            Terminar tutoria
                        </a>
                    </div>
                    <div id="presentador_preguntas">
                        <ul class="collapsible" data-collapsible="accordion">
                            <% evaluaciones.forEach(function(eval) { %>
                            <li>
                                <div class="collapsible-header truncate">
                                    <i class="material-icons left">question_answer</i><%= eval.encabezado %>
                                </div>
                                <div class="collapsible-body">
                                    <p>
                                        <%= eval.encabezado %>
                                        <br/>
                                        <br/>
                                        <a href="#"
                                           data-activates='dropdown_seleccion_estudiante'
                                           class="btn btn-floating btn-large waves-effect waves-light btn-sm btn_lanzar_pregunta_grupo"
                                           sesion="<%= sesion %>"
                                           evaluacion="<%= eval.id %>">
                                            <i class="fa fa-users"></i>
                                        </a>
                                        &nbsp;
                                        &nbsp;
                                        <a href="#"
                                           data-activates='dropdown_seleccion_estudiante'
                                           class="btn btn-floating btn-large waves-effect waves-light btn-sm blue darken-3 btn_abrir_grupo"
                                           sesion="<%= sesion %>"
                                           evaluacion="<%= eval.id %>">
                                            <i class="fa fa-user"></i>
                                        </a>
                                        &nbsp;
                                        &nbsp;
                                        <a href="#modal<%= eval.id %>"
                                           data-activates='dropdown_seleccion_estudiante'
                                           class="btn btn-floating btn-large waves-effect waves-light btn-sm deep-purple darken-1 btn_abrir_grupo"
                                           sesion="<%= sesion %>"
                                           evaluacion="<%= eval.id %>">
                                            <i class="fa fa-check-square"></i>
                                        </a>
                                        <br/>
                                        <!-- colleccion de estudiantes para lanzar preguntas -->
                                        <div class="collection coleccion_viewers"></div>
                                    </p>
                                </div>
                            </li>
                            <% }); %>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- col s7 -->
            <div id="pizarra" class="col s7 card-panel" >
                <select id="select-lenguajes">
                    <option value="plain_text" selected>Plain Text</option>
                    <option value="assembly_x86">Assembly x86</option>
                    <option value="c_cpp">C/C++</option>
                    <option value="csharp">C#</option>
                    <option value="css">CSS</option>
                    <option value="golang">Go</option>
                    <option value="groovy">Groovy</option>
                    <option value="haskell">Haskell</option>
                    <option value="html">HTML</option>
                    <option value="java">Java</option>
                    <option value="javascript">Javascript</option>
                    <option value="php">PHP</option>
                    <option value="prolog">Prolog</option>
                    <option value="python">Python</option>
                    <option value="ruby">Ruby</option>
                    <option value="sh">Linux Shell</option>
                    <option value="sql">SQL</option>
                    <option value="swift">Swift</option>

                </select>
                <div style="width: 100%; min-height: 450px; height: 100%; font-size: 18px"  id="editor">Seleccione un lenguaje y escriba su codigo aqu&iacute;!</div>
                <br>
            </div>
            <!-- col s4 : hide -->
            <div id="div_mensajes" class="hide card-panel">
                <br>
                <div class="row">
                    <div class="col s12 text-center">
                        <form id="formChatSesionPresentador">
                            <div class="col s9">
                                <input id="m">
                            </div>
                            <div class="col s3">
                                <a id="btn" href="#" class="waves-effect waves-light btn">
                                    Enviar <i class="material-icons right">send</i>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12" >
                        <div id="mensajes" class="chatbox" style="height: 410px">
                            <ul id="messages"></ul>
                        </div>
                    </div>
                    <input id="sesion-id" type="hidden" value=<%= sesion %>>
                    <input id="nombre" type="hidden" value="<%= nombre %>">
                    <input id="email" type="hidden" value=<%= email %>>
                </div>

            </div>
        </div>
    </div>
    <!-- boton para mostrar/esconder chat/preguntas -->
    <div id="show_left" class="hide">
        <a id="btn_show_left" class="btn-floating btn-large waves-effect waves-light red z-depth-3"><i class="material-icons">skip_next</i></a>
    </div>
    <div id="show_right" class="right_hidden">
        <a id="btn_show_right" class="btn-floating btn-large waves-effect waves-light red z-depth-3"><i class="material-icons">skip_previous</i></a>
    </div>
    <!-- modal para mostrar no webcam -->
    <div id="modal_no_webcam" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>No se ha detectado una camara web</h4>
            <p>No puedes ejercer el rol de tutor sin una camara web.</p>
            <p><a href="/" class="modal-action modal-close waves-effect waves-green btn-large red darken-4 white-text">Salir de este lugar</a></p>
        </div>
    </div>

    <script src="/js/ace_plugin/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
    <% } %>
</body>
</html>
