<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/bower_components/materialize/dist/css/materialize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/kurento.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/custom.css" rel="stylesheet">

    <script src="/socket.io/socket.io.js"></script>
    <script src="/bower_components/adapter.js/adapter.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="/bower_components/materialize/dist/js/materialize.min.js"></script>
    <script src="/bower_components/kurento-utils/js/kurento-utils.js"></script>
    <script src="/js/presentador.js"></script>
    <title>ProyectoZ</title>
</head>
<body>
    <% if (todavia) { %>
    <div id="body" class="row">
        <p>Falta tiempo para iniciar la tutoria</p>
    </div>
    <% } else { %>
    <div id="body" class="container">
        <div class="row">
                <hr />
            <div id="video-div-presentador" class="col s4">
                <video id="video" autoplay></video>
            </div>
            <div id="div_mensajes" class="col s8">
                <div class="col s12 text-center">
                    <div class="col s9">
                        <input id="m">
                    </div>
                    <div class="col s3">
                        <a id="btn" href="#" class="waves-effect waves-light btn">
                            Enviar <i class="material-icons right">send</i>
                        </a>
                    </div>
                </div>
                <div class="col s12">
                    <div id="mensajes" class="chatbox">
                        <ul id="messages"></ul>
                    </div>
                </div>
                <input id="sesion-id" type="hidden" value=<%= sesion %>>
                <input id="nombre" type="hidden" value="<%= nombre %>">
                <input id="email" type="hidden" value=<%= email %>>
            </div>
        </div>
        <div class="row">
            <div class="col s5">
                <div class="row">
                    <a id="cerrar_tutoria_btn" class="btn red darken-4" href="/sesion/cerrar/<%= sesion %>/">
                        Termiar tutoria
                    </a>
                </div>
                <div class="row">
                    <div id="presentador_preguntas">
                        <div>
                            <ul class="collapsible" data-collapsible="accordion">
                                <% evaluaciones.forEach(function(eval) { %>
                                <li>
                                    <div class="collapsible-header truncate">
                                        <i class="material-icons left">question_answer</i><%= eval.encabezado %>
                                    </div>
                                    <div class="collapsible-body">
                                        <p><%= eval.encabezado %></p>
                                        <p>
                                            <a href="#"
                                               class="btn waves-effect waves-light btn_lanzar_pregunta"
                                               sesion="<%= sesion %>"
                                               evaluacion="<%= eval.id %>">
                                                Lanzar Pregunta<i class="material-icons right">send</i>
                                            </a>
                                        </p>
                                    </div>
                                </li>
                                <% }); %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pizarra" class="col s6 offset-s1">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
    <div id="modal_no_webcam" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>No se ha detectado una camara web</h4>
            <p>No puedes ejercer el rol de tutor sin una camara web.</p>
            <p>No puedes ejercer el rol de tutor sin una camara web.</p>
            <p><a href="/" class="modal-action modal-close waves-effect waves-green btn-large red darken-4 white-text">Salir de este lugar</a></p>
        </div>
    </div>
    <% } %>
</body>
</html>
