<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/bower_components/materialize/dist/css/materialize.min.css" rel="stylesheet">
    <link href='/css/custom.css' rel='stylesheet' />

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/materialize/dist/js/materialize.min.js"></script>
    <script src='/bower_components/moment/moment.js'></script>
    <meta charset="UTF-8">
    <title>ProyectoZ</title>
</head>
<body>
<% include nav.ejs %>
<div class="container">
    <div class="row">
        <div class="col s8 offset-s2">
            <div class="card-panel">

                <h2 class="header teal-text" style="text-align: center">Mis Sesiones</h2>
        <% sesiones.forEach(function(sesion) { %>
        <%
            var titulo = sesion.Solicitud.titulo ;
            var profesor = sesion.Tutor.Usuario.nombre + " " + sesion.Tutor.Usuario.apellido;
            var fecha_sin_timezone = moment(sesion.fecha).format('YYYY-MM-DD');
            var momento_mostrado = moment(fecha_sin_timezone+' '+sesion.hora_inicio+'.001-04');

            var color = sesion.estado == 'futura' ? 'green lighten-1' : 'green darken-1';
        %>
        <div class="card <%= color %>">
            <div class="card-content white-text">
                <span class="card-title">
                    <b><%= titulo %></b>
                </span>
                <br>
                <h5><%= profesor %></h5>
                <% var texto = sesion.estado == 'futura' ? 'Sera' : 'Fue'; %>
                <p><%= texto %> impartida <%= momento_mostrado.fromNow() %></p>
            </div>
            <div class="card-action">
                <% sesion.Solicitud.Keywords.forEach(function(keyword) { %>
                <a href="/sesion/tag/<%= keyword.id %>" class="chip black-text"><%= keyword.texto %></a>
                <% }); %>
            </div>
        </div>
        <% }); %>
    </div>
</div>

<script src="/js/custom.js"></script>
</body>
</html>